:root {
    --dark-color: #290269;
    --primary: #DBEEF8;
    --secondary: #3588A7;
}

.page {
    display: grid;
    grid-template-columns: 200px 1fr 250px;
    grid-template-rows: 60px 1fr 60px;
    height: 100vh;
}

header {
    grid-column: 2 / span 2;
}

.navigation {
    grid-row: 1 / span 3;
}

aside {
    grid-row: span 2;
}

.block-group {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.block-group:first-child {
    grid-column: 1 / -1;
}

.background-dark {
    background-color: var(--dark-color);
    color: white;
}

.background-primary {
    background-color: var(--primary);
}